.profile 
  float: left 
  width: 25%
  padding-top: 67px
  
.content
  float: right
  width: 75%

.avatar
  border-radius: 6px

.fullname
  display: block
  overflow: hidden
  width: 100%
  font-size: 26px
  line-height: 30px
  text-overflow: ellipsis

.details
  list-style: none
  padding-left: 25px
  padding-top: 15px
  padding-bottom: 15px
  border-top: 1px solid #eee

.details li
  width: 100%
  float: left

span.icon
  float: left
  width: 16px
  text-align: center
  margin-left: -24px
  color: #999

.about
  font-size: 1.6em
  line-height: 1.4
  padding-top: 26px

.about .quotes
  font-size: 0.5em
  list-style: none
  text-align: right
