title-color = #00b7ff

@import 'users'
@import 'posts'
@import 'forms'

body
  background: #1c212b
  padding: 50px
  font: normal 1.25em/1.5 "PT Serif", Cambria, Georgia, Times, "Times New Roman", serif

a
  color: title-color

.container
  margin: 0 auto
  max-width: 40em
  width: 80%

