body
  background: #1c212b
  padding: 50px
  font: normal 1.25em/1.5 "PT Serif", Cambria, Georgia, Times, "Times New Roman", serif

a
  color: #00B7FF

.container
  margin: 0 auto
  max-width: 40em
  width: 80%

.index h1
  font-size: 1em
  font-weight: bold
  line-height: 1.2
  float: left
  background-color: #F14207
  color: #fff
  padding: 0.25em 0.5em
  text-align: left
  margin-bottom: 0.75em

.index ul
  list-style: none
  margin: 0
  padding: 0
  clear: both

.index li
  margin-top: 1.5em

.index .title
  font-size: 1em;
  font-weight: bold
  line-height: 1.2

.month-group
  margin-top: 2.5em
  position: relative

.new-post h1
  color: #00B7FF

.input label
  display: block
  color: #00b7ff

.checkbox label
  display: inline-block
  margin-right: 1em

.input input
.input textarea
  padding: .5em .7em
  margin-bottom: 1em
  font-size: 70%

.input input
  width: 70%

.input textarea
  width: 90%

.button
  border: 1px solid transparent
  border-width: 0 1px
  border-radius: 5px
  cursor: pointer
  display: inline-block
  zoom: 1
  font-size: 20px
  font-weight: bold
  height: 40px
  line-height: 30px
  overflow: hidden
  padding: 0 10px
  text-align: center
  text-decoration: none
  text-shadow: 1px 1px 1px rgba(255,255,255,0.5)
  white-space: nowrap

.button.orange:hover
  background: #f7b837

.button.orange
  background: #f8c150
  color: #963

article h1
  color: #00B7FF

article p
  color: #FFFFFF 
