extends ../layout

block content
  - var urlFor = function(title) {  
  -   return /post/ + title.replace(/\s+/g, '_').toLowerCase();
  - }

  section.index
    each group in postsByMonth
      div.month-group
        h1= group._id
        ul
          each post in group.posts
            li
              - var url = urlFor(post.title)
              a(href="#{url}", class='title')= post.title
              br
              a(href="#{url}", class='url')= url
              if post.tags
                div.tag
                  each tag in post.tags
                    span= tag
